body {
  --rosewater: #f5e0dc;
	--flamingo: #f2cdcd;
	--pink: #f5c2e7;
	--mauve: #cba6f7;
	--red: #f38ba8;
	--maroon: #eba0ac;
	--peach: #fab387;
	--yellow: #f9e2af;
	--green: #a6e3a1;
	--teal: #94e2d5;
	--sky: #89dceb;
	--sapphire: #74c7ec;
	--blue: #89b4fa;
	--lavender: #b4befe;
	--text: #cdd6f4;
	--subtext1: #bac2de;
	--subtext0: #a6adc8;
	--overlay2: #9399b2;
	--overlay1: #7f849c;
	--overlay0: #6c7086;
	--surface2: #585b70;
	--surface1: #45475a;
	--surface0: #313244;
	--base: #1e1e2e;
	--mantle: #181825;
	--crust: #11111b;

  background-color: var(--base);
}

.banner {
  background-color: var(--crust);
  text-align: center;
}

.banner h1 {
  color: var(--text);
}

.banner h2 {
  color: var(--green);
  text-shadow: var(--teal) 0 0 7px
}

#lockedPage {
  max-width: 300px;
  padding: 3em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--surface1);
  border-radius: 1em;
  text-align: center;
}

#lockedPage > * {
  margin: 1ex 0;
}

/* -------- Glitch effect -------- */
.glitch {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  animation: paths 5s step-end infinite;
}

.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
}

.glitch::before {
  color: var(--sky);
  animation: movement 8s step-end infinite, opacity 6s step-end infinite;
}

.glitch::after {
  color: var(--maroon);
  animation: movement 6s step-end infinite, opacity 7s step-end infinite;
}

@keyframes paths {
  from {
  clip-path: polygon(0% 75%,33% 75%,33% 29%,81% 29%,81% 61%,15% 61%,15% 82%,65% 82%,65% 13%,89% 13%,89% 92%,93% 92%,93% 52%,7% 52%,7% 58%,52% 58%,52% 18%,98% 18%,98% 51%,80% 51%,80% 21%,19% 21%,19% 39%,59% 39%,59% 82%,43% 82%,43% 33%,79% 33%,79% 37%,34% 37%,34% 28%,69% 28%,69% 10%,45% 10%,45% 68%,8% 68%,8% 13%,35% 13%,35% 85%,47% 85%,47% 32%,12% 32%,12% 93%,68% 93%,68% 82%,77% 82%,77% 69%,91% 69%,91% 16%,42% 16%,42% 12%,4% 12%,4% 59%,34% 59%,34% 9%,9% 9%);
}
  10% {
  clip-path: polygon(0% 86%,95% 86%,95% 69%,46% 69%,46% 6%,42% 6%,42% 40%,50% 40%,50% 55%,68% 55%,68% 72%,31% 72%,31% 12%,76% 12%,76% 45%,26% 45%,26% 64%,21% 64%,21% 13%,53% 13%,53% 57%,2% 57%,2% 36%,56% 36%,56% 22%,36% 22%);
}
  25% {
  clip-path: polygon(0% 86%,96% 86%,96% 25%,99% 25%,99% 52%,49% 52%,49% 90%,11% 90%,11% 79%,87% 79%,87% 65%,55% 65%,55% 76%,61% 76%,61% 26%,29% 26%,29% 28%,34% 28%,34% 97%,71% 97%,71% 48%,43% 48%,43% 65%,40% 65%,40% 38%,69% 38%,69% 96%,14% 96%,14% 99%,49% 99%,49% 49%,15% 49%,15% 93%);
}
  60% {
  clip-path: polygon(0% 57%,1% 57%,1% 44%,86% 44%,86% 7%,42% 7%,42% 39%,22% 39%,22% 35%,11% 35%,11% 97%,54% 97%,54% 32%,43% 32%,43% 70%,51% 70%);
}
  80% {
  clip-path: polygon(0% 26%,73% 26%,73% 32%,48% 32%,48% 49%,69% 49%,69% 87%);
}

  3%, 12%, 28%, 66%, 83% { 
  clip-path: none; 
}
}

@keyframes movement {
  from {
  top: 0;
  left: -5%;
}
  20% {
  top: 3%;
  left: 6%;
}
  25% {
  top: -4%;
  left: -9%;
}
  65% {
  top: 7%;
  left: 5%;
}
  to {
  top: -3%;
  left: 0;
}
}

@keyframes opacity {
  from {
  opacity: 0.2;
}
  15% {
  opacity: 0.5;
}
  30% {
  opacity: 0.6;
}
  70% {
  opacity: 0.3;
}
  90% {
  opacity: 0.7;
}
  2%, 17%, 33%, 71%, 92% {
  opacity: 0;
}
}
