body {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;

  height: 100vh;

  font-family: sans-serif;
  background-color: var(--crust);
  color: var(--text);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

i {
  color: var(--yellow);
}

b {
  color: var(--maroon);
}

a {
  color: var(--sapphire);
  text-decoration: none;
}

a:hover {
  color: var(--rosewater);
  transition: color 0.3s ease-out;
}

img {
  max-width: 100%;
}

.banner {
  background-color: var(--base);
  padding-top: 2em;
}

.banner h1 {
  text-align: center;
  font-size: 64px;
  color: var(--base);
  text-shadow: var(--maroon) 1px 1px 3px, var(--sky) -1px -1px 3px;
}

.banner h2 {
  text-align: center;
  color: var(--subtext0);
}

header {
  background-color: var(--surface0);
  border-bottom: 1ex solid var(--rosewater);
}

header h1 {
  text-align: center;
}

header h1 a {
  color: var(--blue);
}

header h1 a:hover {
  color: var(--blue);
}

nav a {
  color: var(--sky);
}

header nav ul {
  padding: 1em 4em;
  list-style-type: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#hamburgerNav {
  display: none;
}

#hamburgerNav + label {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1ex;
  right: 1ex;
}

#hamburgerNav + label > div {
  background-color: var(--overlay2);
  height: .3em;
  width: 2em;
  border-radius: 33%;
  margin: .1em 0;
  transition: all 0.5s ease-in-out;
}

#hamburgerNav:checked + label > div {
  background-color: var(--overlay0);
}

#hamburgerNav:checked + label > div:first-child {
  transform: translateY(.5em) rotate(45deg);
}

#hamburgerNav:checked + label > div:nth-child(2) {
  opacity: 0;
}

#hamburgerNav:checked + label > div:last-child {
  transform: translateY(-.5em) rotate(-45deg);
}

#hamburgerNav:checked ~ ul {
  display: flex;
}

main {
  padding: 2em 3em;
}

.leftIlluminatedText, .rightIlluminatedText {
  overflow: hidden;
}

.leftIlluminatedText p, .rightIlluminatedText p {
  margin-top: 0;
  text-align: justify;
}

.leftIlluminatedText img, .rightIlluminatedText img {
  width: 3em;
}

.leftIlluminatedText img {
  float: left;
}

.rightIlluminatedText img {
  float: right;
}

.cardContainer {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardContainer > * {
  margin: 1ex;
}

.animalCard {
  padding: 1ex;
  border-radius: 1em;
  width: 250px;
  background-color: var(--surface0);
}

.animalCard:hover {
  background-color: var(--surface1);
  transition: all 0.2s ease-in-out;
  transform: translate(-1ex, -1ex);
  box-shadow: 1ex 1ex var(--flamingo);
}

.animalCard h3 {
  text-align: center;
}

#searchDiv {
  position: relative;
  text-align: center;
}

#animalSearchBar {
  width: 80%;
  font-size: 20px;
  color: var(--green);
}

#searchResults {
  display: none;
  background-color: var(--mantle);
  width: 80%;
  max-height: calc(100vh - 7em);
  position: absolute;
  bottom: 1em;
  left: 10%;
  overflow: scroll;
  list-style-type: none;
  padding: 0;
  border-radius: 1em;
}

#animalSearchBar:focus ~ #searchResults, #searchResults:hover {
  display: inline-block;
}

#searchResults li {
  padding: 1ex 0;
  font-size: 20px;
}

#searchResults li:hover {
  background-color: var(--overlay0);
}

ul.blogListing {
  margin: 0 auto;
  padding: 1em;
  list-style-type: none;
}

ul.blogListing li {
  padding: 1ex;
  border-radius: 1em;
}

ul.blogListing li:hover {
  background-color: var(--surface2);
}

footer {
  background-color: var(--overlay2);
}

footer a {
  color: var(--crust);
}

footer ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

footer p {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

@media screen and (min-width: 600px) {
  #hamburgerNav + label{
    display: none;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin-left: 225px;
  }
  header {
    height: 100%;
    width: 225px;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: none;
    border-right: 1ex solid var(--rosewater);
  }
  header nav ul {
    flex-direction: column;
  }
}

fieldset {
  background-color: var(--surface1);
  border: none;
  padding: 1em;
  border-radius: 1em;
}

fieldset label {
  font-weight: bold;
}

.personnalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.personnalInfo > * {
  margin: 1ex 0;
}

textarea {
  width: 100%;
}

.ctaButton {
  font-weight: bold;
  border: none;
  padding: 1em;
  border-radius: 1em;
  color: var(--mantle);
  background-color: var(--lavender);
}

.ctaButton:hover {
  box-shadow: var(--overlay2) 1ex 1ex;
  transform: translate(-1ex, -1ex);
}

.ctaSuccess {
  background-color: var(--green);
  transition: all .5s ease;
}

.ctaError {
  background-color: var(--red);
  animation: shake .5s ease;
}

@keyframes shake {
  from {
  transform: translateX(0);
}
25% {
  transform: translateX(-10%);
}
50% {
  transform: translateX(10%);
}
75% {
  transform: translateX(-10%);
}
to {
  transform: translateX(0);
}
}
